NEXT_PUBLIC_API_User=
NEXT_PUBLIC_MAPPING_User=users

NEXT_PUBLIC_API_Auth=
NEXT_PUBLIC_MAPPING_Auth=auths


NEXT_PUBLIC_API_Book=
NEXT_PUBLIC_MAPPING_Book=books

NEXT_PUBLIC_API_Cart=
NEXT_PUBLIC_MAPPING_Cart=carts

NEXT_PUBLIC_API_Order=
NEXT_PUBLIC_MAPPING_Order=orders

NEXT_PUBLIC_API_Common=
NEXT_PUBLIC_MAPPING_Common=common
