PORT=8083

CORS_ORIGIN=http://localhost:3000

NEXT_PUBLIC_API_Order=

NEXT_PUBLIC_API_Book=http://localhost:8081
NEXT_PUBLIC_MAPPING_Book=books

NEXT_PUBLIC_API_Cart=http://localhost:8082
NEXT_PUBLIC_MAPPING_Cart=carts